bin
obj
TestResults
TestResult.xml
content
*.nupkg
*.suo
*.log
*.cache
*.user
*.tmp
*.ldf
*.mdf
*.swx
*.vsmdi
*.testsettings
/.vs
/ConsoleApp1
/packages
/MicroRuleEngine.Tests.psess
/ConsoleApp1.psess
/ConsoleApp1-3.psess
/ConsoleApp1-2.psess
/ConsoleApp1-1.psess
/MicroRuleEngine/MRE1.cs
privateKey.key
